# Python / Django
*.pyc
__pycache__/
*.pyo
*.pyd
db.sqlite3
*.sqlite3
.env
.venv/
env/
venv/
*.egg-info/
*.egg
staticfiles/
media/
migrations/
.DS_Store
.idea/
.vscode/
*.log
*.pot
*.py[cod]

# Node.js / React / Next.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
*.tgz
build/
dist/
public/static/
.cache/
.next/
out/
*.log
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# MongoDB
*.mongodb
*.json
*.csv
*.lock

# IDE and Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swm

# Operating system files
Thumbs.db
ehthumbs.db
Desktop.ini
*.bak
*.tmp


!dbdata_bkup/
dbdata_bkup/*